# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Other common
.env
*.sqlite3
node_modules/